<h1>Preparation of the German Twitter Data</h1>

<p>This file is for preparing the german tweets. The preparation is mainly for training my own model for sentiment detection with Flair. </p>

In [1]:
import csv
import numpy as np
import pandas as pd
import re
import nltk

<h1>Einlesen und bestimmung der Felder</h1>
<p>Durch die weitern Operatoren, kann ich die einzelnen Felder in DF bestimmen. Durch die Lambda Funktion werden die Str zu Listen, was die sp√§tere verarbeitung erleichtert. 
    Durch die Parse_dates Funktion wird das Datumsfeld zu einem Timestamp, was die weiter Verarbeitung wesentlich leichter macht.</p>

In [23]:
df_manager_de = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Manager_DE/data.csv", sep=";", 
                            converters={"tweet_type": lambda x: x.strip("[]").replace("'", "").split(", "),
                                        "referenced_tweet_id": lambda x: x.strip("[]").replace("'", "").split(", ")},
                           parse_dates=["created_at"])
df_manager_de = df_manager_de.explode(["referenced_tweet_id", "tweet_type"], ignore_index=True)

In [257]:
df_manager_de.head()

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
0,703311366262800384,1392131804,2016-02-26 20:11:11+00:00,703311366262800384,de,0,0,2,0,Twitter Web Client,None,None,#Wirecard-Chef Markus Braun pumpt irrwitzige S...
1,702405572012974080,1053723204,2016-02-24 08:11:53+00:00,702405572012974080,de,0,0,0,0,Twitter Web Client,None,None,Jetzt g√ºnstig einsammeln und sp√§ter absahnen? ...
2,701784983829143553,554491983,2016-02-22 15:05:53+00:00,701784983829143553,de,0,0,0,0,Facebook,None,None,Morgen startet die neue Reihe R¬≤-JazzCube! Vol...
3,701446667170615296,3365669884,2016-02-21 16:41:32+00:00,701446667170615296,de,0,0,1,0,Twitter Web Client,None,None,die Y-Achse des #prusai3 nimmt Formen an :-) ...
4,700597812556386304,4858383167,2016-02-19 08:28:29+00:00,700597812556386304,de,2,0,0,0,Twitter for iPhone,retweeted,700578193334411264,RT @aktionaer: #Wirecard: Was f√ºhrt der Vorsta...

<br>
<p>Pr√ºfen welche Datenfelder in den einzelnen Zeilen enthalten sind. War wichtig um diese anpassen zu k√∂nnen.</p>

In [204]:
print("conversation_id: ", df_manager_de.iloc[0]["conversation_id"], "type: ", type(df_manager_de.iloc[0]["conversation_id"]))
print("author_id: ", df_manager_de.iloc[0]["author_id"], "type: ", type(df_manager_de.iloc[0]["author_id"]))
print("created_at: ", df_manager_de.iloc[0]["created_at"], "type: ", type(df_manager_de.iloc[0]["created_at"]))
print("tweet_id: ", df_manager_de.iloc[0]["tweet_id"], "type: ", type(df_manager_de.iloc[0]["tweet_id"]))
print("lang: ", df_manager_de.iloc[0]["lang"], "type: ", type(df_manager_de.iloc[0]["lang"]))
print("retweet_count: ", df_manager_de.iloc[0]["retweet_count"], "type: ", type(df_manager_de.iloc[0]["retweet_count"]))
print("reply_count: ", df_manager_de.iloc[0]["reply_count"], "type: ", type(df_manager_de.iloc[0]["reply_count"]))
print("like_count: ", df_manager_de.iloc[0]["like_count"], "type: ", type(df_manager_de.iloc[0]["like_count"]))
print("quote_count: ", df_manager_de.iloc[0]["quote_count"], "type: ", type(df_manager_de.iloc[0]["quote_count"]))
print("source: ", df_manager_de.iloc[0]["source"], "type: ", type(df_manager_de.iloc[0]["source"]))
print("tweet_type: ", df_manager_de.iloc[0]["tweet_type"], "type: ", type(df_manager_de.iloc[0]["tweet_type"]))
print("referenced_tweet_id: ", df_manager_de.iloc[0]["referenced_tweet_id"], "type: ", type(df_manager_de.iloc[0]["referenced_tweet_id"]))
print("text: ", df_manager_de.iloc[0]["text"], "type: ", type(df_manager_de.iloc[0]["text"]))

conversation_id:  703311366262800384 type:  <class 'numpy.int64'>
author_id:  1392131804 type:  <class 'numpy.int64'>
created_at:  2016-02-26 20:11:11+00:00 type:  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
tweet_id:  703311366262800384 type:  <class 'numpy.int64'>
lang:  de type:  <class 'str'>
retweet_count:  0 type:  <class 'numpy.int64'>
reply_count:  0 type:  <class 'numpy.int64'>
like_count:  2 type:  <class 'numpy.int64'>
quote_count:  0 type:  <class 'numpy.int64'>
source:  Twitter Web Client type:  <class 'str'>
tweet_type:  None type:  <class 'str'>
referenced_tweet_id:  None type:  <class 'str'>
text:  #Wirecard-Chef Markus Braun pumpt irrwitzige Summen in sein Unternehmen. Woher stammt das Geld? @SchreiberDohms  https://t.co/VdsV4nvBe4 type:  <class 'str'>

<h3>L√∂schen von unn√∂tigen Informationen</h3>
<p>Hier werden Informationen aus den Tweets Texten, die nicht weiter ben√∂tigt werden. Bspw. Links</p>

In [24]:
for each in range(len(df_manager_de)):
    df_manager_de.loc[df_manager_de["text"] == 
                      df_manager_de.loc[each]["text"], "text"] = re.sub(r'http\S+', '', 
                                                                        (re.sub('@[^\s]+', '',
                                                                                re.sub('#', '', 
                                                                                       df_manager_de.loc[each]["text"]))))

In [25]:
df_manager_de.iloc[0]["text"]

'Wirecard-Chef Markus Braun pumpt irrwitzige Summen in sein Unternehmen. Woher stammt das Geld?   '

<br>
<h3>Nicht Kontextbezogene Tweets l√∂schen</h3>
<p>So kann ich pr√ºfen ob bestimmte Begriffe in den Texten enthalten sind und mir die conversation_id ausgeben lassen. Diese lasse ich dann l√∂schen und auch zugeh√∂rige Tweets, da diese nicht in den Kontext passen.<br>Die w√∂rter in der Liste m√ºssen klein geschrieben werden, da auch alle Buchstaben f√ºr die Pr√ºfung klein geschrieben werden m√ºssen, da sinst nicht alles erkannt wird.</p>
<p>Zu l√∂schende Begriffe</p>
<ul>
    <li>BVB</li>
    <li>Fu√üball</li>
    <li>Fussball</li>
    <li>Dortmund</li>
</ul>

In [26]:
not_used_words_list = ["bvb", "fu√üball", "fussball", "dortmund"]
tweet_id_without_context_list = []
for each in range(len(df_manager_de)):
    for word in not_used_words_list:
        if word in df_manager_de.iloc[each]["text"].lower():
            if df_manager_de.iloc[each]["tweet_id"] not in tweet_id_without_context_list:
                tweet_id_without_context_list.append(df_manager_de.iloc[each]["tweet_id"])

<p>Iteration durch die Liste mit zu l√∂schenden Tweets, bis der Wert zu Beginn und zum Ende gleich ist und es keine
weiteren Tweets mehr gibt, die gefiltert werden m√ºssen. </p>

In [27]:
def check_for_further_tweets():
    start_len = len(tweet_id_without_context_list)
    for each in range(len(tweet_id_without_context_list)):
        df_tweets = df_manager_de.loc[(df_manager_de["conversation_id"] == tweet_id_without_context_list[each]) | 
               (df_manager_de["referenced_tweet_id"] == str(tweet_id_without_context_list[each]))]

        for each in range(len(df_tweets)):
            if df_tweets.iloc[each]["tweet_id"] not in tweet_id_without_context_list:
                tweet_id_without_context_list.append(df_tweets.iloc[each]["tweet_id"])
                
    if start_len != len(tweet_id_without_context_list):
        check_for_further_tweets()
check_for_further_tweets()

<p>L√∂schen der nicht kontextbezogenen Tweets und den Index neu setzen um sp√§ter keine Probleme mit dem Index zu bekommen.</p>

In [28]:
for each in tweet_id_without_context_list:
    df_manager_de = df_manager_de.drop(df_manager_de.loc[df_manager_de["tweet_id"] == each].index[0])
df_manager_de = df_manager_de.reset_index(drop=True)

<br>
<h4>Check</h4>
<p>Aufrufen einer Line um zu pr√ºfen, welche Informationen enthalten sind.<br>
    Den Index abrufen um mir nur den Text in voller L√§nge anzeigen zu lassen, da dieser sonst gek√ºrzt ist.</p>

In [69]:
df_manager_de.loc[df_manager_de["conversation_id"] == 1098841597582737409]

Empty DataFrame
Columns: [conversation_id, author_id, created_at, tweet_id, lang, retweet_count, reply_count, like_count, quote_count, source, tweet_type, referenced_tweet_id, text]
Index: []

In [49]:
df_manager_de.loc[df_manager_de.index[df_manager_de["conversation_id"] == 1278435775441494016].tolist()[0]]["text"]

'RT @RNBVB: üë®üèª\u200d‚öïÔ∏è Dr. Markus #Braun ist vom Nachrichtenmagazin #Focus als "Top-Mediziner" in Deutschland ausgezeichnet worden. Zuletzt arbei‚Ä¶'

In [48]:
print(df_manager_de.index[df_manager_de["conversation_id"] == 1278435775441494016].tolist()[0])

14209

In [36]:
df_manager_de.loc[14209]["text"]

'RT @RNBVB: üë®üèª\u200d‚öïÔ∏è Dr. Markus #Braun ist vom Nachrichtenmagazin #Focus als "Top-Mediziner" in Deutschland ausgezeichnet worden. Zuletzt arbei‚Ä¶'

<br>
<h3>L√∂schen von Retweets</h3>
<p>Alle Retweets l√∂schen, da diese in diesem Schritt nicht ben√∂tigt werden.</p>

In [29]:
counter = 0
retweet_list = []
for each in range(len(df_manager_de)):
    if "retweeted" in df_manager_de.iloc[each]["tweet_type"]:
        retweet_list.append(each)
        counter += 1
print(counter)

5428

In [30]:
df_manager_de = df_manager_de.drop(retweet_list)

<h1>L√∂schen von doppelten Tweets</h1>
<p>Alle Tweets, die dopplet im Datensatz enthalten sind, anhand der tweet_id werden gel√∂scht. Somit werden auch die zuvor aufgespalteten Listen wieder gel√∂scht</p>

In [107]:
df_manager_de = df_manager_de.drop_duplicates(subset=["tweet_id"])

In [108]:
len(df_manager_de)

8836

<h1>Check User</h1>
<p>√úberpr√ºfe die User Daten nach Namen, die nichts mit dem Thema Wirecard zu tun haben. Auch Nutzer, die ggf. nur durch Zufall in die Abfrage gekommen sind, z.B. durch den gleichen Namen wie einer der Manager, sollen aus dem Datensatz entnommen werden.<br>Auff√§llige Namen sind <b>Markus Braun</b> und <b>Jan Marsalek</b>, da es sich um den CEO und den verantwortlichen Manager handelt.</p>

In [31]:
df_user = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Manager_DE/user.csv", sep=";")

<p>Pr√ºfen nach allen Nutzern mit dem Namen Markus</p>

In [32]:
df_user.loc[df_user.name.str.lower().str.contains("markus")].drop_duplicates()

,user_id,username,name,follower,following,tweet_cound,list_count,verified,created_at
3,3365669884,MarkusB1980,Markus Braun,82,181,620,13,False,2015-07-08 08:43:24+00:00
53,170698930,Magix_Markus,Magic Markus,163,192,24324,18,False,2010-07-25 14:30:29+00:00
58,827452635057881088,_MarkusBraun,Markus Braun,31414,88,1162,81,True,2017-02-03 09:44:16+00:00
91,536335486,Advobraun,RA Markus Braun,17,93,16,0,False,2012-03-25 14:09:25+00:00
253,745165314,mvdweyer,Markus van de Weyer,1141,1297,35732,199,False,2012-08-08 13:08:41+00:00
951,1174753444189671424,MarkusW28522797,Markus Wolf,0,4,2,0,False,2019-09-19 18:33:51+00:00
1053,1201441525,MarkusFasse,Markus Fasse,1688,1065,2299,53,False,2013-02-20 15:49:37+00:00
1298,780754694419296256,markuscbraun1,Markus C. Braun,85,232,89,0,False,2016-09-27 13:03:19+00:00
1347,1053554251367174145,MWeingran,MarkusWeingran,176,50,325,3,False,2018-10-20 07:51:22+00:00
1506,855232346,MarkusBlume,Markus Blume,12911,284,1333,196,True,2012-09-30 19:26:22+00:00
1580,348646470,MarkusMetschke,Markus Metschke,5,44,191,0,False,2011-08-04 19:30:49+00:00
1777,960496784278683648,MarkusTiemann1,Markus Tiemann,11,65,513,0,False,2018-02-05 12:54:13+00:00
1926,1160868405429383168,Markus70044344,Markus Naier,153,493,3221,11,False,2019-08-12 10:59:30+00:00
2011,4143865486,MarkusToehne,Markus T√∂hne,1160,570,15364,365,False,2015-11-08 19:16:22+00:00
2624,56951088,patolix,Markus Trenker,530,858,3400,15,False,2009-07-15 07:01:29+00:00
2720,1019851548350910464,mag_markus,Mag. Markus Steinbacher,38,99,6110,0,False,2018-07-19 07:48:51+00:00
3426,497968900,MarkusEhrler,Markus Ehrler,6642,7141,116853,100,False,2012-02-20 15:12:58+00:00
3445,572140860,rapidler74,Markus Riedl,166,301,11450,3,False,2012-05-05 20:47:34+00:00
3734,2473666566,bachsblueten,Markus Bach,594,604,39437,43,False,2014-05-02 08:22:20+00:00
3841,4548026189,markusdelitz,Markus Delitz ‚ú®,586,722,1639,5,False,2015-12-20 16:44:47+00:00
4573,1193169414,KorinekMarkus,Markus Korinek,23,2,235,0,False,2013-02-18 13:28:59+00:00
4823,14162263,markuswaeger,Markus W√§ger,643,368,22540,53,False,2008-03-17 09:48:32+00:00
4888,443638494,markuskrainer1,markus krainer,2,34,10,0,False,2011-12-22 11:25:26+00:00
4953,46415147,kubant,markus,64,340,2786,0,False,2009-06-11 15:46:37+00:00
5125,897858675855040512,MarkusMahler512,Markus Mahler,5,19,301,0,False,2017-08-16 16:32:44+00:00
5141,38137133,Dr_MarkusMeier,Markus Meier,17,120,280,0,False,2009-05-06 07:52:19+00:00
5197,197528170,ms_nieder,Markus Niedermann,78,577,365,2,False,2010-10-01 18:57:18+00:00
5397,37611246,rieksmeier,Markus Rieksmeier,1164,50,36287,155,False,2009-05-04 06:39:47+00:00
5932,1220822278440615936,MarkusA28136072,Markus ponnyhof.Sol,10,164,737,1,False,2020-01-24 21:35:15+00:00
5980,348086065,Leineems,Markus,19,156,248,1,False,2011-08-03 21:16:41+00:00
7290,178680931,msulzbacher,Markus Sulzbacher,21370,4523,71993,311,True,2010-08-15 11:46:09+00:00
7329,851496036472324098,Markus_Krall,Dr. Markus Krall,45592,147,14390,216,False,2017-04-10 18:04:09+00:00
7574,1011258769,abwerzger,Markus Abwerzger,2369,635,9603,23,False,2012-12-14 14:25:34+00:00
8162,176053221,KompaLaw,Markus Kompa,5121,41,61527,219,False,2010-08-08 12:13:39+00:00
8262,148084651,mwolschlager,Markus Wolschlager,819,970,14313,48,False,2010-05-25 20:10:51+00:00
8358,49411452,mpindeus,Markus Pindeus,597,1246,1615,6,False,2009-06-21 20:03:51+00:00
8434,1043410202744246272,ElLatin85341655,Huber Markus,77,187,710,0,False,2018-09-22 08:02:32+00:00
8519,1031158517024079877,devotedly9,Markus Bruckm√ºller,63,238,2405,1,False,2018-08-19 12:38:43+00:00
8542,221144872,unsigned_int,Markus Lauterbacher,23,160,550,0,False,2010-11-29 21:30:35+00:00
9001,2382279415,MarkusGroll,Markus Groll,517,659,7659,11,False,2014-03-10 15:05:12+00:00
9133,2988134535,NeunerOfficial,Markus Neuner (SP√ñ),1204,4011,3167,11,False,2015-01-20 22:23:17+00:00
9322,21320873,markus_reichert,Markus Reichert,119,397,3517,4,False,2009-02-19 17:50:43+00:00
9567,1145319596,MarkusRosch,Markus Rosch,4480,724,10236,216,True,2013-02-03 14:29:32+00:00
9605,137070802,Markus_Wolf_HVA,Generaloberst Markus Wolf,1079,1208,4496,12,False,2010-04-25 18:10:58+00:00

<p>Pr√ºfen auf auff√§liige Eintr√§ge bez√ºglich Jan Marksalek</p>

In [33]:
df_user.loc[df_user.name.str.lower().str.contains("jan")].drop_duplicates()

,user_id,username,name,follower,following,tweet_cound,list_count,verified,created_at
181,152703288,dejanjovicevic,Dejan Jovicevic,1785,1449,6801,25,False,2010-06-06 17:14:56+00:00
471,960630599601082368,JHendrikP,Jan,61,143,2741,1,False,2018-02-05 21:45:57+00:00
626,571011183,SeraelJann,SeraelJann,5,18,78,0,False,2012-05-04 15:40:39+00:00
791,427754037,clauci2nd,claudia janecek - food & medicine #Yemen üáæüá™,3504,4269,79378,16,False,2011-12-03 22:56:56+00:00
1089,861221059747610624,proudtobehay,Django,48,803,2398,4,False,2017-05-07 14:07:56+00:00
1120,48455041,Willmroth,Jan Diesteldorf,1995,957,1817,75,False,2009-06-18 19:14:48+00:00
1456,1169762222790385665,Jannis73502821,Jannis,2,95,21,0,False,2019-09-06 00:00:28+00:00
1488,926892715706593280,JanKaiserICH,Jan Kaiser,3,22,2,0,False,2017-11-04 19:23:39+00:00
1915,1009685810,DanielaLongding,daniel janson,10,100,244,0,False,2012-12-13 20:49:01+00:00
1946,1225022850735771648,JMoldau,Jan Moldau,0,10,613,0,False,2020-02-05 11:46:40+00:00
2155,748259499245510656,sparfindig,spar|fin|dig : Jan Tietje,619,919,7985,14,False,2016-06-29 20:59:01+00:00
2158,2152612894,jc8136,jan,89,167,9300,14,False,2013-10-25 12:47:14+00:00
2631,19072286,janboehm,Jan B√∂hmermann üò∑ü¶†ü§®,2502132,2042,9403,3033,True,2009-01-16 15:55:55+00:00
2647,804934696555704320,Jane_Doe40806,Jane Doe,4615,4081,136681,131,False,2016-12-03 06:26:01+00:00
2734,3353363103,JanDHildebrand,Jan Hildebrand,2547,883,2752,46,True,2015-07-01 16:32:13+00:00
3033,1273891164224139264,JanMuel28853482,Jan Mueller,0,4,19,0,False,2020-06-19 08:11:50+00:00
3111,3170249476,jannikkel6,Jan Nikkel (geboostert),323,297,64297,5,False,2015-04-15 14:20:19+00:00
3307,1269540544537145344,AktienUni,Jan Wolters | AktienUni.de,434,286,217,3,False,2020-06-07 08:03:54+00:00
3450,427754037,clauci2nd,claudia janecek - food & medicine #Yemen üáæüá™,3504,4269,79379,16,False,2011-12-03 22:56:56+00:00
3791,2782752599,JanWa94,Jan Wagener,11,57,9,0,False,2014-09-24 19:39:41+00:00
3797,14359266,knalli,Jan Philipp,246,510,15769,44,False,2008-04-11 08:35:11+00:00
4159,384818445,JanHemme,Jan Hemme,1270,279,22631,98,False,2011-10-04 11:32:50+00:00
4421,1244642921313435648,janvp000,janvp000,2,0,1068,0,False,2020-03-30 15:09:38+00:00
4734,838611262137372674,Jan2345678901,Jan234,194,1138,8838,1,False,2017-03-06 04:44:40+00:00
4896,1262484333010604039,FreseJan,Jan Frese,2,10,94,0,False,2020-05-18 20:45:09+00:00
4922,40251964,Ja_gir100,Janus Grindt,6,68,71,0,False,2009-05-15 14:36:19+00:00
5017,52198884,FineJanCannibal,Jan,91,184,1932,7,False,2009-06-29 21:40:00+00:00
5553,18584829,jan_hauser,Jan Hauser,2660,1965,5251,168,True,2009-01-03 19:22:21+00:00
5796,2771331905,janvesp,Jan,175,1104,7826,4,False,2014-09-15 17:44:40+00:00
6309,960463104537657344,DjirSarai,Bijan Djir-Sarai,8827,1466,1464,143,True,2018-02-05 10:40:23+00:00
6632,2857610675,JankoTietz,Janko,5531,1453,6909,93,True,2014-11-02 20:51:31+00:00
6683,1281873818433269760,JanBehrens16,Jan Behrens,364,424,12499,5,False,2020-07-11 08:53:55+00:00
6684,504918158,jan_buehlbecker,Jan B√ºhlbecker (er/ihn),3243,1009,60423,78,False,2012-02-26 19:58:36+00:00
6733,1025796393129177088,klausdietermai1,djangohatnemonatskarte,239,491,41679,3,False,2018-08-04 17:31:33+00:00
6765,1262597888,J_Ehemann,Jan Ehemann,443,730,20239,24,False,2013-03-12 18:32:09+00:00
7369,1171000359638188033,januszcwikla,JanuszMarekƒÜwik≈Ça,1357,2875,97803,7,False,2019-09-09 10:00:35+00:00
7984,1067221755813654528,jannemanncs,Jan We√üeling,190,317,1285,3,False,2018-11-27 01:01:09+00:00
9025,1260188096,KarlssonKann,Jan Karlsson,890,2209,39889,15,False,2013-03-11 19:03:29+00:00
9435,787856124,8B_EC,Jan Forster,379,2250,1398,66,False,2012-08-28 21:10:11+00:00
9512,3357661984,janvoss81,Jan Voss,1042,513,17714,4,False,2015-07-03 22:29:48+00:00
9760,2224564819,__ljrk,Leonard Janis Robert K√∂nig,128,142,13246,2,False,2013-12-01 09:32:08+00:00
10002,63764458,janejane24,‚ù§‚ù§‚ù§janejane #EUROPEanUnion #FBR #OneWorld #Ger...,24091,26500,300061,29,False,2009-08-07 16:24:41+00:00
10096,1261872733,AndreasSJanke,Andreas S. Janke,215,85,19418,29,False,2013-03-12 12:29:22+00:00
10294,972233251,Jan_Heiermann,Jan Heiermann ü•¶,1214,1048,10457,49,False,2012-11-26 15:59:52+00:00

<p>Auff√§llige User_IDs:</p>
<ul>Markus Braun
    <li>3365669884 - MarkusB1980</li>
    <li>827452635057881088 - _MarkusBraun</li>
    <li>536335486 - Advobraun</li>
    <li>780754694419296256 - markuscbraun1</li>
</ul>
<ul>Jan (Marsalek)
    <li>19072286 - janboehm</li>
</ul>

<p>Anzeigen der Tweets der "auff√§lligen" Nutzer</p>

In [40]:
pd.set_option('display.max_colwidth', None)
df_manager_de.loc[df_manager_de["author_id"] == 3365669884]["text"]

3        die Y-Achse des  prusai3 nimmt Formen an :-)  3ddrucker 3dprint
10               Der Rahmen vom prusai3 ist zusammen gebaut :-)  3dprint
18    "kleiner" Bericht zum Grillen mit Freunden  grillen bbq pulledpork
Name: text, dtype: object

In [41]:
pd.set_option('display.max_colwidth', None)
df_manager_de.loc[df_manager_de["author_id"] == 827452635057881088]["text"]

Series([], Name: text, dtype: object)

In [42]:
pd.set_option('display.max_colwidth', None)
df_manager_de.loc[df_manager_de["author_id"] == 536335486]["text"]

86    NEUE HOMPAGE MIT NEUEN FUNKTIONEN
Name: text, dtype: object

In [43]:
pd.set_option('display.max_colwidth', None)
df_manager_de.loc[df_manager_de["author_id"] == 780754694419296256]["text"]

Series([], Name: text, dtype: object)

In [44]:
pd.set_option('display.max_colwidth', None)
df_manager_de.loc[df_manager_de["author_id"] == 19072286]["text"]

Series([], Name: text, dtype: object)

<p>Nur bei zwei der Nutzer ist nach der Vorverarbeitung noch ein Tweet in der Liste. Diese beiden Nutzer tragen nichts zum Thema Wirecard bei und twittern nicht diesbez√ºglich. <br>Ich habe Jan bei der Suche nach Jan lediglich den Namen Jan B√∂hmermann gepr√ºft, da es sich hierbei um eine bekannte Pers√∂nlichkeit handelt, die zu diesem aber auch zu vielen anderen Themen twittert und ich dies deswegen √ºberpr√ºfen wollte.</p>

In [45]:
df_user["name"].value_counts().head(50)

Markus Braun                                   44
Handelsblatt                                   29
Wirecard                                       27
kein Spekulant blauer Haken                    26
FAZ Finanzen                                   26
Dr. Fred... no MD/PD/XYZ-D                     25
Ehssan Khazaeli Ô£ø                              25
AMCtoooMoon                                    25
HandelsblattFinanzen                           24
manager magazin                                24
csfa.                                          22
A.Barendrecht                                  21
Daniel                                         20
cS-Strategies                                  20
Frankfurter Allgemeine gesamt                  20
Mario                                          20
Nils Wischmeyer                                20
FinanzNachrichten.de                           20
üé≤ Policon automatisches Nachrichtenportal üëΩ    19
WirtschaftsWoche                               19
DER AKTION√ÑR                                   19
Lukas Spang                                    18
Aslan                                          18
Claus Lochbihler                               18
five-alive                                     17
FTN                                            17
Burkhard Fassbach                              17
FAZ Wirtschaft                                 17
Fabio De Masi ü¶©                                17
B√∂rsen-News                                    17
Finanzen-News                                  17
Joe Hog                                        16
Mark B√∂schen                                   16
S√ºddeutsche Zeitung                            16
Frankfurter Allgemeine                         15
Paul Pelorat                                   15
Felix Holtermann                               15
Raimund NR                                     14
SZ Wirtschaft                                  14
DER SPIEGEL                                    14
3 üíâ gr√ºnesKrokodil 3 üíâ                         14
SZ Top-News                                    14
Franz W.Winterberg                             14
BoersenSchule                                  14
Andreas Kr√∂ner                                 13
Hanswurst                                      13
Bernhard Ecker                                 13
TheWalkingBreadüö∂üèº‚Äç‚ôÇÔ∏èü•ñ                          13
millennial99                                   12
Tim Bartz                                      12
Name: name, dtype: int64

In [109]:
df_manager_de["author_id"].value_counts().to_frame().reset_index()

                    index  author_id
0     1118219555967520769        865
1     1159698800790953984        192
2              3029833842        175
3              2195833356         89
4     1100318139718414336         65
...                   ...        ...
2493            312358120          1
2494           3279547546          1
2495   835150061516558336          1
2496           3009224172          1
2497             58417079          1

[2498 rows x 2 columns]

In [117]:
df_manager_de["author_id"].value_counts().to_frame().reset_index().join(
    df_user.set_index("user_id"), on="index").drop_duplicates(subset=["index"]).head(11)

,index,author_id,username,name,follower,following,tweet_cound,list_count,verified,created_at
0,1118219555967520769,865,AMCtootheMoon,AMCtoooMoon,274,221,22555,1,False,2019-04-16 18:28:12+00:00
1,1159698800790953984,192,blvddemoulin,A.Barendrecht,159,964,5477,0,False,2019-08-09 05:31:55+00:00
2,3029833842,175,Steinfireflint,Dr. Fred... no MD/PD/XYZ-D,465,323,23065,12,False,2015-02-19 12:35:58+00:00
3,2195833356,89,Ch11110,Ch111,21,149,1422,0,False,2013-11-15 11:36:59+00:00
4,1100318139718414336,65,Tradefair6,Tradefair,44,33,1766,1,False,2019-02-26 08:54:22+00:00
5,704753138146877440,65,csFraudAnalysis,csfa.,1035,561,15064,29,False,2016-03-01 19:40:16+00:00
6,2280206959,59,FreieWeltEu,üé≤ Policon automatisches Nachrichtenportal üëΩ,689,2229,1570308,66,False,2014-01-07 07:14:28+00:00
7,172082646,57,Bonnetmaker,G√∂tz Kluge,268,591,15730,2,False,2010-07-28 21:40:20+00:00
8,1095261591203966976,55,Kaan24263371,Aslan,93,133,4525,1,False,2019-02-12 10:01:27+00:00
9,583334012,52,blockhero_,blockhero.eth,549,1480,15540,2,False,2012-05-18 01:19:29+00:00
10,60673185,52,EhssanKhazaeli,Ehssan Khazaeli Ô£ø,362,1,1599,4,False,2009-07-27 18:38:20+00:00

In [135]:
pd.set_option('display.max_colwidth', None)
df_manager_de.loc[df_manager_de["author_id"] == 60673185]["text"]

87                                                                                                            Wirecard Chef Markus Braun rechnet mit einer ‚ÄûVervielfachung‚Äú des Unternehmenswerts. Bin auch voll von dem Unternehmen √ºberzeugt. nobullshit
288                                                                                                                                                                            Markus Braun k√ºndigt gegen√ºber  an:  wird boon. zu Smartphone-Bank ausbauen.
389                                                                                    im Interview mit  "Unsere interne Untersuchung ist weitestgehend abgeschlossen. Deshalb kann ich heute schon sagen, dass an den Vorw√ºrfen nichts dran ist.‚Äú Wirecard
1440                                                                                                                                                                                Aschheim zieht Konsequenzen: Wirecard beruft Sonderpr√ºfer.  for jail.
1745     Meisterst√ºck der SZ: "Der Markt traut Wirecard einfach nicht. Der von Vorstandschef Markus Braun und dessen Ziehsohn Marsalek technokratisch und autorit√§r gef√ºhrte Konzern war nie gut darin, seine verschachtelte Firmenstruktur zu erl√§utern.‚Äú
1780                                                                                                                                                                                     Wirecard: Vorstandschef Markus Braun erwartet ‚Äûsehr starkes 2020‚Äú
1803                                                                                                                                                                                                  ¬ªWirecard had a tremendous 2019¬´ Kann man wohl sagen.
2040                                                                                                                                                        FinancialTimes hat auf Klage von Wirecard erwidert. Gericht hat bisher noch nicht terminiert.
2041                                                                                                                                        Wirecard soll 2001 Softwarelizenzen an EBS verkauft haben und damit Insolvenz √ºberhaupt erst erm√∂glicht haben.
2042                                                                                                                                                               BaFin pr√ºft, ob Wirecard nicht eher √ºber Vorg√§nge in Singapur h√§tte informieren m√ºssen.
2165                                                                                                                                              ¬ªAus der Tatsache, dass wir noch keine Ad-hoc-Meldung abgegeben haben, k√∂nnen Sie Ihre Schl√ºsse ziehen.¬´
2355                                                                                                                 Wirecard-Chef Markus Braun im Portr√§t. ‚ÄûUngerechtfertigte Vorw√ºrfe‚Äú, ‚ÄûBehauptungen interessierter Seite‚Äú, ‚Äûschlicht falsch‚Äú. Wirecard
2947                                                                                                                                Plus 8,5 Prozent. Wirecard ist auf dem Weg zur alten St√§rke. Spannende Tage stehen vor uns. Stille von  ist eigenartig.
3103                                                                                                                                                                                    M√ºnchen 2020. Ein Vorstand wartet. Auf seinen Untergang. Wirecard
3196                                                                                                                           EXKLUSIV Wirecard: Vertragsverl√§ngerung f√ºr Markus Braun h√§ngt in der Schwebe - manager magazin - Nachrichten - Unternehmen
3963                                                                                  Markus Braun ist nicht das Problem, sondern Alexander von Knoop. Sein Gesch√§ftsbereich muss deutlich weiter ausgebaut werden. Einem DAX-Konzern unw√ºrdig. ‚Å¶ Wirecard
4437                                                                                    Jan Marsalek soll gute Kontakte zu Geheimdiensten haben. K√∂nnte sich eine neue Identit√§t verschaffen und abtauchen. In Asien w√§re er ein ‚Äûgemachter Mann‚Äú. Wirecard
4447                                                                                                                                                                            Jan Marsalek hat kein Abitur (Matura) und keinen F√ºhrerschein. üòÇüòÇüòÇ Wirecard
4534                                                                                                                                                                                        Jan Marsalek hat √ºbrigens eine philippinische Ehefrau. Wirecard
5115                                              Wirecard : Ex-Vorstand Jan Marsalek will sich wohl Anfang kommender Woche stellen und hofft auch auf Aussetzung des Haftbefehls. Meine Meinung: Flucht- und Verdunklungsgefahr haben sich manifestiert!
5625                                                                                                     Gegen Jan Marsalek liegt wohl auch ein Haftbefehl wegen Fluchtgefahr vor. Er befindet sich aber ‚Äûzur Kl√§rung des Sachverhalts‚Äú in Manila. Wirecard
5769                                                                                           Amtsgericht M√ºnchen setzt Vollzug des Haftbefehls gegen Markus Braun aus. Haftgrund wohl Fluchtgefahr. 5 Mio Kaution und w√∂chentliche Meldepflicht. Wirecard
6073                                                                                         StA M√ºnchen: Markus Braun wird am fr√ºhen Nachmittag der zust√§ndigen Haftrichterin vorgef√ºhrt. StA scheint kompromissbereit zu sein. O-T√∂ne um 12 Uhr. Wirecard
6085                                                                                   StA M√ºnchen: √Ñu√üern uns nicht zu m√∂glichen Haftgr√ºnden gegen Markus Braun und etwaigen weiteren Haftbefehlen. ¬ªErst wenn Verhaftungen durchgef√ºhrt wurden.¬´ Wirecard
6088                                                                                                                                                        StA M√ºnchen: Markus Braun verbrachte Nacht in Untersuchungshaft an einem geheimen Ort. Wirecard
6294                                                                                                                                                        Ex-Wirecard-Chef Markus Braun festgenommen. Soll noch heute dem Haftrichter vorgef√ºhrt werden.
6482                                                                                                   Frage des Tages: Was wusste Jan Marsalek von den Unregelm√§√üigkeit und muss sich die Gesellschaft sein Wissen iSv ¬ß 31 BGB zurechnen lassen? Wirecard
6670                                                                                                                                                                                                       Jan Marsalek au√üerordentlich gek√ºndigt. Wirecard
7902                                                                                                                                                                                           N√§chstes Urlaubsziel f√ºr Markus Braun: Philippinen. Wirecard
7965                                          Markus Braun: ¬ªDie Wirecard AG verf√ºgt √ºber ein ausgezeichnetes Gesch√§ftsmodell, herausragende Technologie und ausreichende Ressourcen f√ºr eine gro√üartige Zukunft. Diese Zukunft m√∂chte ich nicht belasten.¬´
8139                                                                                                                                          Markus Braun tritt mit sofortiger Wirkung als Vorstand zur√ºck; James Freis zum Interims-CEO berufen. Wirecard
8341                                                                                                                                               CEO Markus Braun √§u√üert sich auf YouTube zur aktuellen Situation. Sagt aber auch nichts Neues. Wirecard
8478                                                                                                                                                  Aufsichtsrat von Wirecard zieht richtige personelle Konsequenzen! Jan Marsalek verl√§sst den Vorstand.
9127                                                                                                                                                                   Gesucht: Jan Marsalek. Jan heute jedem die S√ºddeutsche Seite 17 empfehlen. Wirecard
9533                                                                                                                                                                                       Jan Marsalek k√∂nnte zum Problem f√ºr die Russen werden. Wirecard
10252                                                                                                                                            Sprecherin der Staatsanwaltschaft M√ºnchen auf die Frage, wo sich Jan Marsalek aufh√§lt: ¬ªSagen Sie es mir.¬´
10387                                                                                   Wirecard: Jan Marsalek bahnte¬†offenbar Kauf von Spionagesoftware an und gab sich wohl als Repr√§sentant eines Inselstaates aus. Eine Mailadresse schien hilfreich.
10504                                                                               Roman Dobrochotow best√§tigt: Jan Marsalek war in belarussischen Witebsk. Ob Grenz√ºbertritt stattfand, ist unklar. Grenze zu Russland ohnehin nicht √ºberwacht. Wirecard
10602                                                                                                  Jan Marsalek: Russische und deutsche Regierungen schweigen. Russland muss Marsalek nur festnehmen und ausliefern, aber nicht aktiv suchen. Wirecard
10620                                                                                                           Die russische Regierung wei√ü nicht, ob Marsalek im Land ist. Warum sollte sie auch, wenn es sich um eine Mission der GRU handelt? Wirecard
10746                                                                        Russische Regierung nahm √ºber Jan Marsalek Einfluss auf √ñsterreichs Politik. Projekte in Libyen d√ºrften dazu gedient haben, russischen Einfluss auf EU zu verst√§rken. Wirecard
10806                                                                                                        Jan Marsalek verlie√ü am 18. Juni um 16.19 Uhr Klagenfurt in einer Embraer 650 Legacy.  Flug mit LH788 sehr unwahrscheinlich. Wirecard CatchJan
10814                                                                         Handelsblatt sehr sicher: Jan Marsalek befindet sich bei Moskau und steht unter dem Schutz des milit√§rischen Geheimdienstes GRU. Diplomatische Krise bahnt sich an. Wirecard
11121                                                                   Reiste Jan Marsalek nach seiner Freistellung nach Wei√ürussland? Es gibt einen Eintrag und das politische System ist dort seit 25 Jahren dasselbe. Wirecardfraud Wirecard CatchJan
11605                                                                                                                                                                                         Jan Marsalek auf Grenada? Einiges scheint darauf hinzudeuten.
11634                                                                                                                                             Der Spiegel sprach mit der Mutter von Jan Marsalek. Story an jedem Kiosk. Wirecard WirecardFraud CatchJan
12566                                                                                                                                           ¬ªMarsalek sorgt daf√ºr, dass Brauns fantastische Visionen Wirklichkeit werden - zumindest auf dem Papier.¬´
13152                                                                      Eine libysche Zementfabrik und eine 15.000 Mann starke Armee, um die s√ºdliche Grenze Libyens zu schlie√üen. Was trieb Jan Marsalek die vergangenen Jahre? Wirecard Wirecardfraud
13651                                                                                                                                                                                  Wirecard: Ex-Manager Jan Marsalek soll FP√ñ-Informant gewesen sein.
13653                                                                                                                               Jan Marsalek soll mit Geheimdienst-Papieren angegebene haben und Kontakt zur FP√ñ gesucht haben. Wirecard Wirecardfraud
13845           Selbst als die beiden philippinischen Banken erkl√§rten, die vorgelegten Dokumente seien F√§lschungen, beteuerte der Wirecard-Vorstand, es m√ºsse sich um ein Missverst√§ndnis handeln. Man st√ºnde im Kontakt zu dem Treuh√§nder. Wirecardfraud
13897                                                                                                                                                                         Wirecard - Wo steckt Jan Marsalek? Die Spur f√ºhrt in die Irre. Absichtlich.
Name: text, dtype: object

<p><br><b>Check nach besonderen Namen, die in der Liste besonder oft auftauchen oder Namen, denen eine besondere Bedeutung zugeordnet wird.</b></p>

In [174]:
df_user.loc[df_user.name.str.contains("markus")].drop_duplicates()

,user_id,username,name,follower,following,tweet_cound,list_count,verified,created_at
4888,443638494,markuskrainer1,markus krainer,2,34,10,0,False,2011-12-22 11:25:26+00:00
4953,46415147,kubant,markus,64,340,2786,0,False,2009-06-11 15:46:37+00:00

<p><b>Tweets von den zu pr√ºfenden Leuten ansehen</b></p>

In [194]:
user_id_list = []
for each in df_user.loc[df_user.name.str.lower().str.contains("jan")].drop_duplicates()["user_id"]:
    user_id_list.append(each)
df_manager_de.loc[df_manager_de.author_id.isin(user_id_list)]

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
196,1039392642847535104,152703288,2018-09-11 05:58:11+00:00,1039392642847535104,de,0,0,1,0,LinkedIn,None,None,Speaker Coup: Knapp nach DAX-Listing: Wirecard...
197,1039176827049332736,152703288,2018-09-10 15:40:37+00:00,1039176827049332736,de,2,0,0,0,Twitter for iPhone,retweeted,1039065678353973248,RT @DarwinsCircle: Knapp nach DAX-Listing: Wir...
602,1110837535423504384,960630599601082368,2019-03-27 10:11:37+00:00,1110846829795729408,de,0,1,1,0,Twitter for iPhone,replied_to,1110840122201784320,@jens_algebra @_MarkusBraun Das ist doch jetzt...
1039,1116041090677784578,571011183,2019-04-10 20:15:23+00:00,1116072202288467968,de,0,1,1,0,Twitter Web App,replied_to,1116065141014052864,@AuchDuMeinSohn @Alexand93433205 @Zwitscherpau...
1058,1114423943761473536,571011183,2019-04-06 10:05:16+00:00,1114469109914374144,de,0,0,0,0,Twitter Web App,replied_to,1114467448647028736,@AuchDuMeinSohn @bald_saitama @aveirodobraga @...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14034,1279469432948088832,1261872733,2020-07-04 17:37:38+00:00,1279469432948088832,de,1,0,0,0,Hootsuite Inc.,retweeted,1279467577413193728,RT @welt: Gef√§lschte Einreiseunterlagen auf de...
14279,1278761776377663489,804934696555704320,2020-07-02 18:45:40+00:00,1278761776377663489,de,19,0,0,0,Twitter for iPhone,retweeted,1278757395892703235,RT @SZ: Die weltweite Suche nach Ex-Wirecard-V...
14291,1278749709469913091,972233251,2020-07-02 17:57:43+00:00,1278749709469913091,de,1,0,0,0,Twitter Web App,retweeted,1278748251315937280,RT @VinzentLeitgeb: Eine Donald-Trump-Pappfigu...
14305,1278732404497223681,48455041,2020-07-02 16:48:57+00:00,1278732404497223681,de,3,0,0,0,Twitter for Android,retweeted,1278729605696884738,"RT @wischmeyer_n: Jan Marsalek, Ex-Vorstand vo..."
14407,1278273529566429190,2152612894,2020-07-01 10:25:33+00:00,1278273529566429190,de,2,0,0,0,Twitter for iPhone,retweeted,1278269780349329408,RT @wischmeyer_n: Die Ermittler durchsuchen ni...

In [14]:
df_user.loc[df_user.name.str.lower().str.contains("markus")].drop_duplicates()

,user_id,username,name,follower,following,tweet_cound,list_count,verified,created_at
3,3365669884,MarkusB1980,Markus Braun,82,181,620,13,False,2015-07-08 08:43:24+00:00
53,170698930,Magix_Markus,Magic Markus,163,192,24324,18,False,2010-07-25 14:30:29+00:00
58,827452635057881088,_MarkusBraun,Markus Braun,31414,88,1162,81,True,2017-02-03 09:44:16+00:00
91,536335486,Advobraun,RA Markus Braun,17,93,16,0,False,2012-03-25 14:09:25+00:00
253,745165314,mvdweyer,Markus van de Weyer,1141,1297,35732,199,False,2012-08-08 13:08:41+00:00
951,1174753444189671424,MarkusW28522797,Markus Wolf,0,4,2,0,False,2019-09-19 18:33:51+00:00
1053,1201441525,MarkusFasse,Markus Fasse,1688,1065,2299,53,False,2013-02-20 15:49:37+00:00
1298,780754694419296256,markuscbraun1,Markus C. Braun,85,232,89,0,False,2016-09-27 13:03:19+00:00
1347,1053554251367174145,MWeingran,MarkusWeingran,176,50,325,3,False,2018-10-20 07:51:22+00:00
1506,855232346,MarkusBlume,Markus Blume,12911,284,1333,196,True,2012-09-30 19:26:22+00:00
1580,348646470,MarkusMetschke,Markus Metschke,5,44,191,0,False,2011-08-04 19:30:49+00:00
1777,960496784278683648,MarkusTiemann1,Markus Tiemann,11,65,513,0,False,2018-02-05 12:54:13+00:00
1926,1160868405429383168,Markus70044344,Markus Naier,153,493,3221,11,False,2019-08-12 10:59:30+00:00
2011,4143865486,MarkusToehne,Markus T√∂hne,1160,570,15364,365,False,2015-11-08 19:16:22+00:00
2624,56951088,patolix,Markus Trenker,530,858,3400,15,False,2009-07-15 07:01:29+00:00
2720,1019851548350910464,mag_markus,Mag. Markus Steinbacher,38,99,6110,0,False,2018-07-19 07:48:51+00:00
3426,497968900,MarkusEhrler,Markus Ehrler,6642,7141,116853,100,False,2012-02-20 15:12:58+00:00
3445,572140860,rapidler74,Markus Riedl,166,301,11450,3,False,2012-05-05 20:47:34+00:00
3734,2473666566,bachsblueten,Markus Bach,594,604,39437,43,False,2014-05-02 08:22:20+00:00
3841,4548026189,markusdelitz,Markus Delitz ‚ú®,586,722,1639,5,False,2015-12-20 16:44:47+00:00
4573,1193169414,KorinekMarkus,Markus Korinek,23,2,235,0,False,2013-02-18 13:28:59+00:00
4823,14162263,markuswaeger,Markus W√§ger,643,368,22540,53,False,2008-03-17 09:48:32+00:00
4888,443638494,markuskrainer1,markus krainer,2,34,10,0,False,2011-12-22 11:25:26+00:00
4953,46415147,kubant,markus,64,340,2786,0,False,2009-06-11 15:46:37+00:00
5125,897858675855040512,MarkusMahler512,Markus Mahler,5,19,301,0,False,2017-08-16 16:32:44+00:00
5141,38137133,Dr_MarkusMeier,Markus Meier,17,120,280,0,False,2009-05-06 07:52:19+00:00
5197,197528170,ms_nieder,Markus Niedermann,78,577,365,2,False,2010-10-01 18:57:18+00:00
5397,37611246,rieksmeier,Markus Rieksmeier,1164,50,36287,155,False,2009-05-04 06:39:47+00:00
5932,1220822278440615936,MarkusA28136072,Markus ponnyhof.Sol,10,164,737,1,False,2020-01-24 21:35:15+00:00
5980,348086065,Leineems,Markus,19,156,248,1,False,2011-08-03 21:16:41+00:00
7290,178680931,msulzbacher,Markus Sulzbacher,21370,4523,71993,311,True,2010-08-15 11:46:09+00:00
7329,851496036472324098,Markus_Krall,Dr. Markus Krall,45592,147,14390,216,False,2017-04-10 18:04:09+00:00
7574,1011258769,abwerzger,Markus Abwerzger,2369,635,9603,23,False,2012-12-14 14:25:34+00:00
8162,176053221,KompaLaw,Markus Kompa,5121,41,61527,219,False,2010-08-08 12:13:39+00:00
8262,148084651,mwolschlager,Markus Wolschlager,819,970,14313,48,False,2010-05-25 20:10:51+00:00
8358,49411452,mpindeus,Markus Pindeus,597,1246,1615,6,False,2009-06-21 20:03:51+00:00
8434,1043410202744246272,ElLatin85341655,Huber Markus,77,187,710,0,False,2018-09-22 08:02:32+00:00
8519,1031158517024079877,devotedly9,Markus Bruckm√ºller,63,238,2405,1,False,2018-08-19 12:38:43+00:00
8542,221144872,unsigned_int,Markus Lauterbacher,23,160,550,0,False,2010-11-29 21:30:35+00:00
9001,2382279415,MarkusGroll,Markus Groll,517,659,7659,11,False,2014-03-10 15:05:12+00:00
9133,2988134535,NeunerOfficial,Markus Neuner (SP√ñ),1204,4011,3167,11,False,2015-01-20 22:23:17+00:00
9322,21320873,markus_reichert,Markus Reichert,119,397,3517,4,False,2009-02-19 17:50:43+00:00
9567,1145319596,MarkusRosch,Markus Rosch,4480,724,10236,216,True,2013-02-03 14:29:32+00:00
9605,137070802,Markus_Wolf_HVA,Generaloberst Markus Wolf,1079,1208,4496,12,False,2010-04-25 18:10:58+00:00