<h1>Sentimentanalyse der Twitter Daten</h1>

<h2>Aufgaben</h2>
<p>Laden der Daten</p>
<p>Zusammenführen der Daten</p>
<p>Aussortieren nicht benötigter Tweets und Daten</p>

In [1]:
import csv
import numpy as np
import pandas as pd
import re

In [14]:
df = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Manager_DE/data.csv", sep=";")

In [15]:
df.head()

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
0,703311366262800384,1392131804,2016-02-26 20:11:11+00:00,703311366262800384,de,0,0,2,0,Twitter Web Client,[None],[None],#Wirecard-Chef Markus Braun pumpt irrwitzige S...
1,702405572012974080,1053723204,2016-02-24 08:11:53+00:00,702405572012974080,de,0,0,0,0,Twitter Web Client,[None],[None],Jetzt günstig einsammeln und später absahnen? ...
2,701784983829143553,554491983,2016-02-22 15:05:53+00:00,701784983829143553,de,0,0,0,0,Facebook,[None],[None],Morgen startet die neue Reihe R²-JazzCube! Vol...
3,701446667170615296,3365669884,2016-02-21 16:41:32+00:00,701446667170615296,de,0,0,1,0,Twitter Web Client,[None],[None],die Y-Achse des #prusai3 nimmt Formen an :-) ...
4,700597812556386304,4858383167,2016-02-19 08:28:29+00:00,700597812556386304,de,2,0,0,0,Twitter for iPhone,['retweeted'],['700578193334411264'],RT @aktionaer: #Wirecard: Was führt der Vorsta...

In [4]:
len(df)

14308

In [5]:
df[df["conversation_id"]==703311366262800384]

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
0,703311366262800384,1392131804,2016-02-26 20:11:11+00:00,703311366262800384,de,0,0,2,0,Twitter Web Client,[None],[None],#Wirecard-Chef Markus Braun pumpt irrwitzige S...

In [6]:
#re.findall(r"[\w']+", DATA)
#print(re.findall(r"[\w']+", df.loc[4]["tweet_type"])[0])
print(re.findall(r"\w+", df.loc[4]["tweet_type"]))

['retweeted']

In [7]:
print(re.findall(r"\w+", df.at[4, "tweet_type"]))

['retweeted']

In [8]:
tweet_type_list = re.findall(r"\w+", df.at[4, "tweet_type"])

In [9]:
df.at[4,"tweet_type"] = tweet_type_list

In [11]:
df.at[4,"tweet_type"][0]

'retweeted'

In [24]:
for each in range(len(df)):
    df.at[each,"tweet_type"] = re.findall(r"\w+", df.at[each, "tweet_type"])
    #print(each)

In [37]:
tweet_type_list = ["None"]
type(tweet_type_list)

list

In [44]:
len(df["tweet_type"][1]) > 1

False

In [52]:
counter = 0
multiple_tweet_types = []
for each in range(len(df)):
    if len(df["tweet_type"][each]) > 1:
        multiple_tweet_types.append(each)
        counter += 1
counter

143

In [55]:
df.iloc[multiple_tweet_types]

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
723,1103965745619308544,1108781456325820423,2019-03-22 08:26:03+00:00,1109008324480110593,de,0,0,0,0,Twitter Web App,"[quoted, replied_to]","['1108985591214075904', '1106601531355340801']",@_MarkusBraun @oderman https://t.co/sFgN9ytJKs...
1186,1124324194521624576,172082646,2019-05-04 11:18:48+00:00,1124634476896825344,de,0,1,0,0,Twitter Web Client,"[quoted, replied_to]","['1124629815095590912', '1124629815095590912']",@Tradefair6 @boker_andre @WirecardCareers @wir...
1435,1151508892637114373,3011988771,2019-10-22 19:27:02+00:00,1186725670589779968,de,0,0,0,0,Twitter for Android,"[quoted, replied_to]","['1186476374242009089', '1151508892637114373']",@_MarkusBraun Europa eine neue Diktaturhttps:/...
1553,1197164173253324800,953644815568244736,2019-11-20 17:36:53+00:00,1197207197593350145,de,0,0,0,0,Twitter for iPhone,"[quoted, replied_to]","['1196607777935773696', '1197164173253324800']",@_MarkusBraun Alipay arbeitet mit einem Kranke...
3084,1266242840432013313,1077879160096374785,2020-05-29 07:04:16+00:00,1266264075492708353,de,0,0,3,0,Twitter for Android,"[quoted, replied_to]","['1266049241664937984', '1266242840432013313']",@MaxSteppan @_MarkusBraun Die Diskussion hatte...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9729,1286574929530560512,1118219555967520769,2020-07-24 08:12:46+00:00,1286575036246249473,de,0,0,0,0,Twitter for iPhone,"[quoted, replied_to]","['1101373999244812289', '1286574929530560512']",@CFOMG @FinancialTimes Der Ex-Wirecard-Chef @_...
9745,1286540503513792513,872914590300090368,2020-07-24 07:25:27+00:00,1286563128679989249,de,1,3,16,0,Twitter for iPhone,"[quoted, replied_to]","['1101373999244812289', '1286540503513792513']",@gaborsteingart Heute noch in Erinnerung: das ...
9872,1286314562371948544,774193248671858689,2020-07-23 15:01:12+00:00,1286315431872036865,de,0,1,0,0,Twitter Web App,"[quoted, replied_to]","['1101373999244812289', '1286314562371948544']",@HugoMuellerVogg @gaborsteingart Markus Braun ...
13285,1281849806223278080,2752407035,2020-07-11 08:48:07+00:00,1281872889273253888,de,1,1,6,0,Twitter for iPad,"[quoted, replied_to]","['1281705000125845504', '1281849806223278080']",... daß dem #IbizaUA laut JM @Alma_Zadic nur V...
13332,1281511793035182080,31258667,2020-07-10 19:43:56+00:00,1281675541393874944,de,0,0,0,0,Twitter for iPhone,"[quoted, replied_to]","['1281533136204111872', '1281629088973807623']",@AndiSchneider @anna_thalhammer Jan Marsalek k...