<h1>Sentimentanalyse der Twitter Daten</h1>

<h2>Aufgaben</h2>
<p>Laden der Daten</p>
<p>Zusammenführen der Daten</p>
<p>Aussortieren nicht benötigter Tweets und Daten</p>

In [98]:
import csv
import numpy as np
import pandas as pd
import re

In [12]:
df = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Manager_DE/data.csv", sep=";")

In [53]:
df.head()

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
0,703311366262800384,1392131804,2016-02-26 20:11:11+00:00,703311366262800384,de,0,0,2,0,Twitter Web Client,[None],[None],#Wirecard-Chef Markus Braun pumpt irrwitzige S...
1,702405572012974080,1053723204,2016-02-24 08:11:53+00:00,702405572012974080,de,0,0,0,0,Twitter Web Client,[None],[None],Jetzt günstig einsammeln und später absahnen? ...
2,701784983829143553,554491983,2016-02-22 15:05:53+00:00,701784983829143553,de,0,0,0,0,Facebook,[None],[None],Morgen startet die neue Reihe R²-JazzCube! Vol...
3,701446667170615296,3365669884,2016-02-21 16:41:32+00:00,701446667170615296,de,0,0,1,0,Twitter Web Client,[None],[None],die Y-Achse des #prusai3 nimmt Formen an :-) ...
4,700597812556386304,4858383167,2016-02-19 08:28:29+00:00,700597812556386304,de,2,0,0,0,Twitter for iPhone,['retweeted'],['700578193334411264'],RT @aktionaer: #Wirecard: Was führt der Vorsta...

In [54]:
len(df)

14308

In [19]:
df[df["conversation_id"]==703311366262800384]

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
0,703311366262800384,1392131804,2016-02-26 20:11:11+00:00,703311366262800384,de,0,0,2,0,Twitter Web Client,[None],[None],#Wirecard-Chef Markus Braun pumpt irrwitzige S...

In [101]:
#re.findall(r"[\w']+", DATA)
print(re.findall(r"[\w']+", df.loc[4]["tweet_type"]))

["'retweeted'"]

In [79]:
df.iloc[1:4]

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
1,702405572012974080,1053723204,2016-02-24 08:11:53+00:00,702405572012974080,de,0,0,0,0,Twitter Web Client,[None],[None],Jetzt günstig einsammeln und später absahnen? ...
2,701784983829143553,554491983,2016-02-22 15:05:53+00:00,701784983829143553,de,0,0,0,0,Facebook,[None],[None],Morgen startet die neue Reihe R²-JazzCube! Vol...
3,701446667170615296,3365669884,2016-02-21 16:41:32+00:00,701446667170615296,de,0,0,1,0,Twitter Web Client,[None],[None],die Y-Achse des #prusai3 nimmt Formen an :-) ...

In [58]:
num_retweets = len(df[df["tweet_type"] == "['retweeted']"])
num_repliedto = len(df[df["tweet_type"] == "['replied_to']"])
num_none = len(df[df["tweet_type"] == "['none']"])

In [59]:
num_retweets + num_repliedto + num_none

10366

In [84]:
len(df) - (num_retweets + num_repliedto + num_none)

3942

In [97]:
df.iloc[4]["tweet_type"].split("[")

['', "'retweeted']"]

In [83]:
df[df["tweet_type"] != "['retweeted']"]

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
0,703311366262800384,1392131804,2016-02-26 20:11:11+00:00,703311366262800384,de,0,0,2,0,Twitter Web Client,[None],[None],#Wirecard-Chef Markus Braun pumpt irrwitzige S...
1,702405572012974080,1053723204,2016-02-24 08:11:53+00:00,702405572012974080,de,0,0,0,0,Twitter Web Client,[None],[None],Jetzt günstig einsammeln und später absahnen? ...
2,701784983829143553,554491983,2016-02-22 15:05:53+00:00,701784983829143553,de,0,0,0,0,Facebook,[None],[None],Morgen startet die neue Reihe R²-JazzCube! Vol...
3,701446667170615296,3365669884,2016-02-21 16:41:32+00:00,701446667170615296,de,0,0,1,0,Twitter Web Client,[None],[None],die Y-Achse des #prusai3 nimmt Formen an :-) ...
6,700578193334411264,19811837,2016-02-19 07:10:32+00:00,700578193334411264,de,2,0,0,0,Twitter Web Client,[None],[None],#Wirecard: Was führt der Vorstand im Schilde? ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14303,1278189179327954944,212758794,2020-07-01 04:50:22+00:00,1278189179327954944,de,0,0,0,0,Twitter Web App,[None],[None],#Wirecard wird womöglich gestückelt an Investo...
14304,1278182059572432896,58417079,2020-07-01 04:22:05+00:00,1278182059572432896,de,0,0,1,0,LinkedIn,[None],[None],Das Ende eines großen Traums zeichnet sich ab....
14305,1278164531613782017,386165847,2020-07-01 03:12:26+00:00,1278164531613782017,de,0,0,0,0,IFTTT,[None],[None],"Wirecard kündigt Markus Braun, Insolvenzverwal..."
14306,1278158825661566979,1245423304304926727,2020-07-01 02:49:45+00:00,1278158825661566979,de,0,0,0,0,Blog2Social APP,[None],[None],Kündigung für Markus Braun: Der Aufsichtsrat v...
14307,1278150802956324864,163466981,2020-07-01 02:17:52+00:00,1278150802956324864,de,0,0,0,0,Aktien,[None],[None],DGAP-Adhoc: Wirecard AG: Kündigung Anstellungs...