<h1>Überarbeitung der Sample Files</h1>
<p>Ich füge in alle Dokumente, die der Validierung dienen noch eine Spalte hinzu.</p>

In [1]:
import csv
import numpy as np
import pandas as pd
import re

In [7]:
df = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_0.csv", sep=";")

In [9]:
df.head()

              tweet_id                                               text
0  1273587381531262978  "Verschieben, tricksen, täuschen:  die einst s...
1  1120953823651094529  Der japanische Softbank-Konzern investiert 900...
2  1255413454330093572                            Persönliche Genugtuung?
3  1064802800880693248  ▶ Baader Bank belässt Wirecard auf 'Buy' - Zie...
4  1286039156083302400    Neue Verhaftungen bei Wirecard: Braun im Sumpf

In [10]:
df["sentiment"] = ""

In [11]:
df.head()

,tweet_id,text,sentiment
0,1273587381531262978,"""Verschieben, tricksen, täuschen: die einst s...",
1,1120953823651094529,Der japanische Softbank-Konzern investiert 900...,
2,1255413454330093572,Persönliche Genugtuung?,
3,1064802800880693248,▶ Baader Bank belässt Wirecard auf 'Buy' - Zie...,
4,1286039156083302400,Neue Verhaftungen bei Wirecard: Braun im Sumpf,

In [14]:
df.to_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/test.csv", sep=';', index=False)

In [28]:
for each in range(0,15):
    file_name = "/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_{file_nbr}.csv".format(file_nbr=each)
    print(file_name)
    df = pd.read_csv(file_name, sep=";")
    df["sentiment"] = ""
    df.to_csv(file_name, sep=";", index=False)
    
for each in range(0,15):
    file_name = "/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_{file_nbr}.csv".format(file_nbr=each)
    print(file_name)
    df = pd.read_csv(file_name, sep=";")
    df["sentiment"] = ""
    df.to_csv(file_name, sep=";", index=False)

/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_0.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_1.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_2.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_3.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_4.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_5.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_6.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_7.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_8.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_9.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_10.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_11.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_12.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_13.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_14.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_0.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_1.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_2.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_3.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_4.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_5.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_6.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_7.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_8.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_9.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_10.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_11.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_12.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_13.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_14.csv