<h1>√úberarbeitung der Sample Files</h1>
<p>Ich f√ºge in alle Dokumente, die der Validierung dienen noch eine Spalte hinzu.</p>

In [1]:
import csv
import numpy as np
import pandas as pd
import re

In [2]:
df = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_0.csv", sep=";")

In [9]:
df.head()

              tweet_id                                               text
0  1273587381531262978  "Verschieben, tricksen, t√§uschen:  die einst s...
1  1120953823651094529  Der japanische Softbank-Konzern investiert 900...
2  1255413454330093572                            Pers√∂nliche Genugtuung?
3  1064802800880693248  ‚ñ∂ Baader Bank bel√§sst Wirecard auf 'Buy' - Zie...
4  1286039156083302400    Neue Verhaftungen bei Wirecard: Braun im Sumpf

In [10]:
df["sentiment"] = ""

In [11]:
df.head()

,tweet_id,text,sentiment
0,1273587381531262978,"""Verschieben, tricksen, t√§uschen: die einst s...",
1,1120953823651094529,Der japanische Softbank-Konzern investiert 900...,
2,1255413454330093572,Pers√∂nliche Genugtuung?,
3,1064802800880693248,‚ñ∂ Baader Bank bel√§sst Wirecard auf 'Buy' - Zie...,
4,1286039156083302400,Neue Verhaftungen bei Wirecard: Braun im Sumpf,

In [14]:
df.to_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/test.csv", sep=';', index=False)

In [50]:
for each in range(0,15):
    file_name = "/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_{file_nbr}.csv".format(file_nbr=each)
    print(file_name)
    df = pd.read_csv(file_name, sep=";")
    df["sentiment"] = ""
    df.to_csv(file_name, sep=";", index=False)
    
for each in range(0,15):
    file_name = "/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_{file_nbr}.csv".format(file_nbr=each)
    print(file_name)
    df = pd.read_csv(file_name, sep=";")
    df["sentiment"] = ""
    df.to_csv(file_name, sep=";", index=False)

/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_0.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_1.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_2.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_3.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_4.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_5.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_6.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_7.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_8.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_9.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_10.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_11.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_12.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_13.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_14.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_0.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_1.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_2.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_3.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_4.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_5.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_6.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_7.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_8.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_9.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_10.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_11.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_12.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_13.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Validation/en_validation_14.csv

In [4]:
df.iloc[17]["text"]

'- Wirecard: Ist der Spuk jetzt vorbei? '

In [5]:
df.iloc[17]["tweet_id"]

1110549492900737025

In [46]:
#### df = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Dataset_Wirecard.csv", sep=";")
df = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Dataset_Wirecard.csv", sep=";", 
                            converters={"tweet_type": lambda x: x.strip("[]").replace("'", "").split(", "),
                                        "referenced_tweet_id": lambda x: x.strip("[]").replace("'", "").split(", ")},
                           parse_dates=["created_at"])
df = df.explode(["referenced_tweet_id", "tweet_type"], ignore_index=True)

In [47]:
df.head()

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
0,703311366262800384,1392131804,2016-02-26 20:11:11+00:00,703311366262800384,de,0,0,2,0,Twitter Web Client,None,None,Wirecard-Chef Markus Braun pumpt irrwitzige Su...
1,702405572012974080,1053723204,2016-02-24 08:11:53+00:00,702405572012974080,de,0,0,0,0,Twitter Web Client,None,None,Jetzt g√ºnstig einsammeln und sp√§ter absahnen? ...
2,700578193334411264,19811837,2016-02-19 07:10:32+00:00,700578193334411264,de,2,0,0,0,Twitter Web Client,None,None,Wirecard: Was f√ºhrt der Vorstand im Schilde? M...
3,700221272840601601,19811837,2016-02-18 07:32:15+00:00,700221272840601601,de,0,0,1,0,Twitter Web Client,None,None,Wirecard-Vorstand kauft weiter massiv eigene A...
4,697324084221227008,183289696,2016-02-10 07:39:51+00:00,697324084221227008,de,0,0,0,0,dlvr.it,None,None,üìà Wirecard: Serie von Aktienk√§ufen des Vorstan...

In [35]:
print("conversation_id: ", df.iloc[0]["conversation_id"], "type: ", type(df.iloc[0]["conversation_id"]))
print("author_id: ", df.iloc[0]["author_id"], "type: ", type(df.iloc[0]["author_id"]))
print("created_at: ", df.iloc[0]["created_at"], "type: ", type(df.iloc[0]["created_at"]))
print("tweet_id: ", df.iloc[0]["tweet_id"], "type: ", type(df.iloc[0]["tweet_id"]))
print("lang: ", df.iloc[0]["lang"], "type: ", type(df.iloc[0]["lang"]))
print("retweet_count: ", df.iloc[0]["retweet_count"], "type: ", type(df.iloc[0]["retweet_count"]))
print("reply_count: ", df.iloc[0]["reply_count"], "type: ", type(df.iloc[0]["reply_count"]))
print("like_count: ", df.iloc[0]["like_count"], "type: ", type(df.iloc[0]["like_count"]))
print("quote_count: ", df.iloc[0]["quote_count"], "type: ", type(df.iloc[0]["quote_count"]))
print("source: ", df.iloc[0]["source"], "type: ", type(df.iloc[0]["source"]))
print("tweet_type: ", df.iloc[0]["tweet_type"], "type: ", type(df.iloc[0]["tweet_type"]))
print("referenced_tweet_id: ", df.iloc[0]["referenced_tweet_id"], "type: ", type(df.iloc[0]["referenced_tweet_id"]))
print("text: ", df.iloc[0]["text"], "type: ", type(df.iloc[0]["text"]))

conversation_id:  703311366262800384 type:  <class 'str'>
author_id:  1392131804.0 type:  <class 'numpy.float64'>
created_at:  2016-02-26 20:11:11+00:00 type:  <class 'pandas._libs.tslibs.timestamps.Timestamp'>
tweet_id:  7.033113662628004e+17 type:  <class 'numpy.float64'>
lang:  de type:  <class 'str'>
retweet_count:  0.0 type:  <class 'numpy.float64'>
reply_count:  0.0 type:  <class 'numpy.float64'>
like_count:  2.0 type:  <class 'numpy.float64'>
quote_count:  0.0 type:  <class 'numpy.float64'>
source:  Twitter Web Client type:  <class 'str'>
tweet_type:  None type:  <class 'str'>
referenced_tweet_id:  None type:  <class 'str'>
text:  Wirecard-Chef Markus Braun pumpt irrwitzige Summen in sein Unternehmen. Woher stammt das Geld?    type:  <class 'str'>

In [20]:
len(df)

114445

In [21]:
df.sample()

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
35190,1098481156616605696,19811837.0,2019-02-21 07:14:51+00:00,1.098481e+18,de,0.0,0.0,1.0,0.0,Twitter Web Client,None,None,"Markt√ºberblick: Dow Jones, DAX, Telekom, Wirec..."

In [22]:
df_sample = df.sample(n = 1500)[["tweet_id", "text"]]
batch = 14
counter = 0 
for batch in range(0,15):
    start = 100*batch
    end = 100*batch+100
    csv_name = 'de_validation_{count}.csv'.format(count=batch)
    df_sample.iloc[start:end].to_csv(csv_name, sep=';', index=False)
    print(start)
    print(end)
    #print(df_sample.iloc[start:end])
    print("Start bei {start} und ende bei {ende}. Name der Datei: {csv}".format(start=start, ende=end, csv=csv_name))

0
100
Start bei 0 und ende bei 100. Name der Datei: de_validation_0.csv
100
200
Start bei 100 und ende bei 200. Name der Datei: de_validation_1.csv
200
300
Start bei 200 und ende bei 300. Name der Datei: de_validation_2.csv
300
400
Start bei 300 und ende bei 400. Name der Datei: de_validation_3.csv
400
500
Start bei 400 und ende bei 500. Name der Datei: de_validation_4.csv
500
600
Start bei 500 und ende bei 600. Name der Datei: de_validation_5.csv
600
700
Start bei 600 und ende bei 700. Name der Datei: de_validation_6.csv
700
800
Start bei 700 und ende bei 800. Name der Datei: de_validation_7.csv
800
900
Start bei 800 und ende bei 900. Name der Datei: de_validation_8.csv
900
1000
Start bei 900 und ende bei 1000. Name der Datei: de_validation_9.csv
1000
1100
Start bei 1000 und ende bei 1100. Name der Datei: de_validation_10.csv
1100
1200
Start bei 1100 und ende bei 1200. Name der Datei: de_validation_11.csv
1200
1300
Start bei 1200 und ende bei 1300. Name der Datei: de_validation_12.csv
1300
1400
Start bei 1300 und ende bei 1400. Name der Datei: de_validation_13.csv
1400
1500
Start bei 1400 und ende bei 1500. Name der Datei: de_validation_14.csv

In [15]:
for each in range(0,15):
    file_name = "/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_{file_nbr}.csv".format(file_nbr=each)
    print(file_name)
    df = pd.read_csv(file_name, sep=";")
    df["sentiment"] = ""
    df.to_csv(file_name, sep=";", index=False)

/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_0.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_1.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_2.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_3.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_4.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_5.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_6.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_7.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_8.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_9.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_10.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_11.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_12.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_13.csv
/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Validation/de_validation_14.csv

In [17]:
len(df)

100

In [48]:
#### df = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Final_DE/Dataset_Wirecard.csv", sep=";")
df = pd.read_csv("/Users/tobias/Dev/FOM/Master_Thesis/data/Final_EN/Dataset_Wirecard.csv", sep=";", 
                            converters={"tweet_type": lambda x: x.strip("[]").replace("'", "").split(", "),
                                        "referenced_tweet_id": lambda x: x.strip("[]").replace("'", "").split(", ")},
                           parse_dates=["created_at"])
df = df.explode(["referenced_tweet_id", "tweet_type"], ignore_index=True)

In [49]:
df.head()

,conversation_id,author_id,created_at,tweet_id,lang,retweet_count,reply_count,like_count,quote_count,source,tweet_type,referenced_tweet_id,text
0,703142204341026818,349287204,2016-02-26 08:58:59+00:00,703142204341026818,en,0,0,1,0,Twitter Web Client,None,None,1/2 I see Wirecard is rebounding after CEO Mar...
1,695255175334924288,428593285,2016-02-04 14:38:45+00:00,695255175334924288,en,0,0,0,0,IFTTT,None,None,Thank you for following us Markus Braun!
2,695237701386244098,95129352,2016-02-04 13:29:19+00:00,695237701386244098,en,1,0,1,0,Twitter Web Client,None,None,"Disrupt the Banks! (Jeff Stewart, Markus Braun..."
3,718385114170966016,17616154,2016-04-08 10:28:52+00:00,718385114170966016,en,0,0,0,0,Twitter Web Client,None,None,WDI wirecard CEO Markus Braun on Q4 2015 Resul...
4,718384477215567873,546713,2016-04-08 10:26:20+00:00,718384477215567873,en,1,0,3,0,Twitter Web Client,None,None,Wirecard Analyst Call transcript is available ...